.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(36, 21, 75), rgb(8, 0, 26));
}
